body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    float: left;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

header h1 {
    margin: 0; /* Elimina el margen predeterminado del encabezado */
    flex: 1; /* El texto se expandirá para llenar el espacio restante */
}

header h3{
    align-items: center;
}

.alumnos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    width: 90%;
    margin-left: 20px;
}

.alumno {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 85%; /* Ancho fijo para todos los elementos .alumno */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; /* Para centrar verticalmente */
    text-align: center; /* Alineación del texto centrada */
}

.alumno img {
    width: 250px;
    border-radius: 5px;
    height: 250px;
    flex: 0.5; /* Para que la imagen ocupe el espacio disponible */
    max-width: 250px;
}

.alumno .contenido {
    flex: 1; /* Para que el contenido (títulos y párrafos) ocupe el espacio disponible */
    display: flex;
    flex-direction: column; /* Elementos dispuestos en columna */
    justify-content: center; /* Alineación vertical centrada en la columna */
    text-align: center; /* Alineación izquierda para el texto */
}

.alumno h2 {
    font-size: 25px;
    margin: 0;
    margin-left: 50px;
}

.alumno p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px; 
    padding: 10px;
    margin-left: 50px;/* Salto de línea entre párrafos */
}



/* Estilos para pantallas de 700px o menos */
@media (max-width: 700px) {
    .alumnos-container {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        padding-bottom: 20px;
    }

    header img {
        float: left;
        margin-right: 10px;
        width: 75px; /* Espacio entre la imagen y el texto */
    }

    .alumno {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        width: 100%; /* Ancho fijo para todos los elementos .alumno */
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; /* Cambiado a columna */
        align-items: center; /* Para centrar verticalmente */
        text-align: center; /* Alineación del texto centrada */
    }

    .alumno img {
        max-width: 250px;
        width: 250px;
        border-radius: 5px;
        height: 250px;
        margin-bottom: 10px;
        margin-left: 25px; /* Espacio entre imagen y texto */
    }

    .alumno .contenido {
        flex: 1; /* Para que el contenido (títulos y párrafos) ocupe el espacio disponible */
        display: flex;
        flex-direction: column; /* Elementos dispuestos en columna */
        justify-content: center; /* Alineación vertical centrada en la columna */
        text-align: left; /* Alineación izquierda para el texto */
    }

    .alumno h2 {
        font-size: 18px;
        margin: 0;
    }

    .alumno p {
        font-size: 14px;
        margin: 0;
        margin-bottom: 10px; /* Salto de línea entre párrafos */
    }
    header h1 {
        margin: 0; /* Elimina el margen predeterminado del encabezado */
        flex: 1; /* El texto se expandirá para llenar el espacio restante */
        
    }
    
    header h3{
        align-items: center;
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}