/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    height: auto;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    margin-top: 20px;
}

hr {
    width: 50%;
    border: 1px solid #333;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
}

a:hover {
    color: #555;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        padding: 10px;
    }

    hr {
        width: 70%;
    }
}
/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Estilos para dispositivos muy pequeños, como teléfonos móviles */
@media (max-width: 480px) {
    h1 {
        font-size: 20px;
        padding: 10px;
    }

    hr {
        width: 80%;
    }

    a {
        font-size: 16px;
    }
}
