* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

:root {
    --accent-color: black;
    --primary-color: black;
    --pentagono-size: 400px;
    --duration: .3s;
}

body {
    background-color: #eee;
}

input, select, button {
    outline: none;
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

.container {
    height: auto;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.titulo {
    padding: 30px 0;
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
}

.container__generador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 30px;
}

.container__cantidad {
    height: auto;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 10px;
}

.container__cantidad::before {
    content: "1";
}

.container__generar {
    height: auto;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 10px;
}

.container__generar::before {
    content: "2";
}

.container__resultados {
    text-align: center;
    height: min-content;
    align-self: end;
}

.promedio, .mayor, .menor, .simetrico, .pares, .impares {
    padding: 5px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
    width: max-content;
    height: min-content;
}

.container__lbl-generados {
    text-align: center;
    height: min-content;
    align-self: end;
}

.btn-generar {
    font-size: 18px;
    line-height: 0.5;
    transition: background-color var(--duration) ease,
                color var(--duration) ease;
}

.btn-generar:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn-generar:active {
    --duration: 0ms;
    background-color: #3170d4;
    transform: scale(1.02);
}

.span:nth-of-type(3) {
    display: block;
    margin-left: 0;
}

/* Estilos para pantallas más grandes que 700px */
@media (min-width: 700px) {
    .container__generador {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .container__cantidad, .container__generar {
        padding: 20px;
    }

    .container__generar::before {
        content: "2";
    }
}
