/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.calculation-section {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
    flex: 1;
    padding-right: 20px;
}

.result-container {
    flex: 1;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 700px) {
    .calculation-section {
        flex-direction: column;
    }

    .input-container,
    .result-container {
        padding: 0;
    }

    #imagen,
    #btnCalcular {
        margin: 0 auto;
    }
}

/* Estilos para etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para el resultado del IMC */
#IMC {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#leyenda {
    text-align: center;
    margin-top: 10px;
}

#imagen {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
